.gradient_ai{
	background: rgb(74,36,99);
	background: linear-gradient(157deg, rgba(74,36,99,1) 0%, rgba(0,0,0,1) 100%);
}
.gradient_text{
	background: #64DE70;
	background: linear-gradient(to right, #64DE70 0%, #15D8ED 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}