.gradient_home{
	background: rgb(74,36,99);
	background: linear-gradient(157deg, rgba(74,36,99,1) 0%, rgba(0,0,0,1) 100%);
}

.gradient_text{
	background: #CFCF38;
	background: linear-gradient(to right, #CFCF38 0%, #F1FF73 50%, #EDF099 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.wel-text{
	color: white;
}
.wel-navbar h1{
	padding: 1rem 1.5rem;
}
.wel-flex{
	display: flex;
	padding-top: 4rem;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	width: 100vw;
}
.wel-flex h1{
	padding-top: 1.5rem;
	font-weight: 700;
}
.wel-flex h2{
	padding-top: 1.5rem;
	font-weight: 700;
}
.check_boxes{
	display: flex;
	justify-content: center;
	padding-top: 3rem;
	padding: 3rem 0;
}
.welcome_form{
	border: 2px solid rgb(147,51,234);
	height: 8rem;
	width: 271px;
	margin: 0 1.5rem;
	border-radius: 10px;
	cursor: pointer;
}
.welcome_form:hover{
	background-color: rgb(152, 73, 226);
}
.welcome_form input{
	margin-top: 1.5rem;
	margin-left: 6rem;
	position: absolute;
}
.welcome_form label{
	cursor: pointer;
}
.wel-mx-auto{
	margin: 0 auto;
	font-size: 1.3rem;
	font-weight: 700;
	padding-top: 2rem;
	text-align: left;
	width: 100vw;
	position: relative;
	max-width: 60%;
}
.wel-py-3{
	padding: 1rem 3rem;
	border-radius: 25px;
	cursor: pointer;
	background-color: rgb(147,51,234);
	color: white;
}
.well-mt-5{
	margin-top: 1.5rem;
}
.wel-text-purple-600{
	color: rgb(147,51,234);
}