.gradient_dev{
	background: rgb(74,36,99);
	background: linear-gradient(157deg, rgba(74,36,99,1) 0%, rgba(0,0,0,1) 100%);
}
.gradient_text{
	background: #64DE70;
	background: linear-gradient(to right, #64DE70 0%, #15D8ED 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.row3-photos{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3rem;
}
.row3-photos img{
	height: 50vh;
	width: 70vw;
	object-fit: cover;
	margin: 1.5rem 1.5rem;
	margin-top: 2rem;
	border-radius: 10px;
}
.row3-photos h1{
	color: white;
	font-weight: bold;
	margin: 0 3rem;
	font-size: 3rem;
}
hr{
	margin-bottom: 1.5rem;
}
.row3-photos video{
	height: 50vh;
	width: 70vw;
}